name: List Terraform State with backend

on:
  workflow_dispatch:

jobs:
  list-terraform-state:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

#      - name: Initialize Terraform with backend
#        run: terraform init -backend-config="token=${{ secrets.TF_CLOUD_TOKEN }}" \
#                            -backend-config="organization=YOUR_ORG" \
#                            -backend-config="workspaces[name]=YOUR_WORKSPACE]"

      - name: Initialize Terraform with S3 backend
        run: terraform init

      - name: List Terraform state
        run: terraform state list
